In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/pgr/opt/anaconda3/lib/python3.9/site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /Users/pgr/opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector as conn

In [5]:
# crear conexion a sql

conexion = conn.connect(host='localhost', user='root', passwd='1a2a3a4a') # conexion al servidor

cursor=conexion.cursor()

In [6]:
# check

cursor.execute('show databases;')

for x in cursor:
    print(x)

('3.1 Lab Into to mysql',)
('BlockBuster',)
('information_schema',)
('mysql',)
('performance_schema',)
('publish',)
('sys',)

In [7]:
# conectar a base de datos 

db = conn.connect(host='localhost', user='root', passwd='1a2a3a4a', database='BlockBuster')

cursor=db.cursor()

# Actor

In [ ]:
Ruta = '/Users/pgr/Documents/Repositorio Proyectos/w3-database-project/Ficheros originales/data/'

data_actor = pd.read_csv(Ruta+'actor.csv', encoding="latin1") #, errors='ignore', low_memory=False

In [ ]:
data_actor.shape

In [ ]:
actor_id = data_actor['actor_id']
actor_id

In [ ]:
list(data_actor['last_update'])

In [ ]:
data_actor.isna().sum()

In [ ]:
data_actor.drop_duplicates()

In [ ]:
#data_actor = data_actor.T

In [ ]:
data_actor = data_actor.drop(['last_update'], axis=1)

In [ ]:
data_actor.columns

In [ ]:
data_actor['Nombre_completo']=data_actor['first_name']+" "+data_actor['last_name']

In [ ]:
data_actor.columns

In [ ]:
data_actor['Nombre_completo'].value_counts()

In [ ]:
#buscar los index de un actor

data_actor[data_actor.Nombre_completo=="SUSAN DAVIS"].index

In [ ]:
#eliminar a capon el index de ese actor

Actor_duplicado = (109)

data_actor.drop(Actor_duplicado, axis=0, inplace=True)

In [ ]:
data_actor.info()

### Crear tabla Actor

In [ ]:
# conectar a base de datos 

db = conn.connect(host='localhost', user='root', passwd='1a2a3a4a', database='BlockBuster')

cursor=db.cursor()

## crear tabla, si existe, eliminar primero

cursor.execute('drop table if exists actor;')

query='''

            create table actor(
            
                actor_id int primary key not null,
                first_name varchar(50),
                last_name varchar(50),
                Nombre_completo varchar(50)
            );

'''


cursor.execute(query)

In [ ]:
# insert into tabla (col1, col2, col3, ...) values (v1, v2, v3, ....)



nombre_tabla='actor'

columnas=','.join(data_actor.columns)




for i in range(len(data_actor)):   # bucle por filas
    
    valores=tuple(data_actor.iloc[i].values)
    
    insert_query=f'insert into {nombre_tabla} ({columnas}) values {valores};'
    
    cursor.execute(insert_query)
    
    
db.commit()

# Category

In [ ]:
Ruta = '/Users/pgr/Documents/Repositorio Proyectos/w3-database-project/Ficheros originales/data/'

category_actor = pd.read_csv(Ruta+'category.csv', encoding="latin1") #, errors='ignore', low_memory=False

In [ ]:
category_actor.shape

In [ ]:
category_actor.isna().sum()

In [ ]:
category_actor = category_actor.drop(['last_update'], axis=1)

In [ ]:
category_actor.drop_duplicates()

### Crear tabla Category

In [ ]:
## crear tabla, si existe, eliminar primero

cursor.execute('drop table if exists category;')

query='''

            create table category(
            
                category_id int,
                name varchar(50)
            );

'''


cursor.execute(query)

In [ ]:
# insert into tabla (col1, col2, col3, ...) values (v1, v2, v3, ....)



nombre_tabla='category'

columnas=','.join(category_actor.columns)




for i in range(len(category_actor)):   # bucle por filas
    
    valores=tuple(category_actor.iloc[i].values)
    
    insert_query=f'insert into {nombre_tabla} ({columnas}) values {valores};'
    
    cursor.execute(insert_query)
    
    
db.commit()

# Film

In [ ]:
Ruta = '/Users/pgr/Documents/Repositorio Proyectos/w3-database-project/Ficheros originales/data/'

film = pd.read_csv(Ruta+'film.csv', encoding="latin1") #, errors='ignore', low_memory=False

In [ ]:
film.shape

In [ ]:
film.isna().sum()

In [ ]:
#eliminamos 3 columnas que no aportan valor
film = film.drop(['original_language_id'], axis=1)
film = film.drop(['last_update'], axis=1)
film = film.drop(['release_year'], axis=1)

In [ ]:
film.columns

In [ ]:
film.iloc[0].values

### Crear tabla Film

In [ ]:
## crear tabla, si existe, eliminar primero

cursor.execute('drop table if exists film;')

query='''

            create table film(
            
                film_id  int,
                title varchar(30),
                description varchar(500),
                language_id varchar(5),
                rental_duration varchar(5),
                rental_rate float,
                length varchar(5),
                replacement_cost float,
                rating varchar(5),
                special_features varchar(100)
            );

'''


cursor.execute(query)

In [ ]:
# insert into tabla (col1, col2, col3, ...) values (v1, v2, v3, ....)



nombre_tabla='film'

columnas=','.join(film.columns)




for i in range(len(film)):   # bucle por filas
    
    valores=tuple(film.iloc[i].values)
    
    insert_query=f'insert into {nombre_tabla} ({columnas}) values {valores};'
    
    cursor.execute(insert_query)
    
    
db.commit()

# Inventory

In [8]:
Ruta = '/Users/pgr/Documents/Repositorio Proyectos/w3-database-project/Ficheros originales/data/'

inventory = pd.read_csv(Ruta+'inventory.csv', encoding="latin1") #, errors='ignore', low_memory=False

In [9]:
inventory.shape

(1000, 4)

In [10]:
inventory.isna().sum()

inventory_id    0
film_id         0
store_id        0
last_update     0
dtype: int64

In [11]:
#eliminamos 3 columnas que no aportan valor
inventory = inventory.drop(['last_update'], axis=1)

### Crear tabla Inventory

In [ ]:
## crear tabla, si existe, eliminar primero

cursor.execute('drop table if exists inventory;')

query='''

            create table inventory(
            
                inventory_id  int,
                film_id int,
                store_id int
            );

'''


cursor.execute(query)

In [ ]:
# insert into tabla (col1, col2, col3, ...) values (v1, v2, v3, ....)

nombre_tabla='inventory'

columnas=','.join(inventory.columns)




for i in range(len(inventory)):   # bucle por filas
    
    valores=tuple(inventory.iloc[i].values)
    
    insert_query=f'insert into {nombre_tabla} ({columnas}) values {valores};'
    
    cursor.execute(insert_query)
    
    
db.commit()

# Languaje

In [12]:
Ruta = '/Users/pgr/Documents/Repositorio Proyectos/w3-database-project/Ficheros originales/data/'

language = pd.read_csv(Ruta+'language.csv', encoding="latin1") #, errors='ignore', low_memory=False

In [13]:
language.shape

(6, 3)

In [14]:
language.isna().sum()

language_id    0
name           0
last_update    0
dtype: int64

In [15]:
language = language.drop(['last_update'], axis=1)

## SQL Archemi

In [16]:
%pip install SQLAlchemy
%pip install pymysql

Requirement already satisfied: SQLAlchemy in /Users/pgr/opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/pgr/opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in /Users/pgr/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [17]:
from sqlalchemy import create_engine

str_conn='mysql+pymysql://root:1a2a3a4a@localhost:3306'

cursor=create_engine(str_conn)

In [21]:
str_conn='mysql+pymysql://root:1a2a3a4a@localhost:3306/BlockBuster'

cursor=create_engine(str_conn)

### Cargar tabla language Pandas

In [22]:
language.to_sql(name='language', con=cursor, if_exists='replace', index=False)

6

# Old HDD

In [23]:
Ruta = '/Users/pgr/Documents/Repositorio Proyectos/w3-database-project/Ficheros originales/data/'

old_HDD = pd.read_csv(Ruta+'old_HDD.csv', encoding="latin1") #, errors='ignore', low_memory=False

In [24]:
old_HDD.shape

(1000, 5)

In [29]:
old_HDD.isna().sum()

first_name         0
last_name          0
title              0
category_id        0
Nombre_completo    0
dtype: int64

In [26]:
old_HDD = old_HDD.drop(['release_year'], axis=1)

In [28]:
old_HDD['Nombre_completo']=old_HDD['first_name']+" "+old_HDD['last_name']

### Cargar tabla old_HDD Pandas

In [30]:
old_HDD.to_sql(name='old_HDD', con=cursor, if_exists='replace', index=False)

1000

# rental

In [31]:
Ruta = '/Users/pgr/Documents/Repositorio Proyectos/w3-database-project/Ficheros originales/data/'

rental = pd.read_csv(Ruta+'rental.csv', encoding="latin1") #, errors='ignore', low_memory=False

In [32]:
rental.shape

(1000, 7)

In [33]:
old_HDD.isna().sum()

first_name         0
last_name          0
title              0
category_id        0
Nombre_completo    0
dtype: int64

In [36]:
rental.columns

Index(['rental_id', 'rental_date', 'inventory_id', 'customer_id',
       'return_date', 'staff_id'],
      dtype='object')

In [35]:
rental = rental.drop(['last_update'], axis=1)

### Cargar tabla rental Pandas

In [38]:
rental.to_sql(name='rental', con=cursor, if_exists='replace', index=False)

1000

### FIN: todas las tablas cargadas en sql