In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# SQL

In [2]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pable\anaconda3\lib\site-packages (8.0.29)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: protobuf>=3.0.0 in c:\users\pable\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [3]:
import mysql.connector as conn

In [4]:
# crear conexion a sql

conexion = conn.connect(host='localhost', user='root', passwd='1a2a3a4a') # conexion al servidor

cursor=conexion.cursor()

In [5]:
# check

cursor.execute('show databases;')

for x in cursor:
    print(x)

('blockbuster',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('world',)

In [6]:
# conectamos a bbdd Bloackbuster
db = conn.connect(host='localhost', user='root', passwd='1a2a3a4a', database='blockbuster')

cursor=db.cursor()

## SQL Archemi

In [7]:
%pip install SQLAlchemy
%pip install pymysql

Requirement already satisfied: SQLAlchemy in c:\users\pable\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pable\anaconda3\lib\site-packages (from SQLAlchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in c:\users\pable\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from sqlalchemy import create_engine

str_conn='mysql+pymysql://root:1a2a3a4a@localhost:3306'

cursor=create_engine(str_conn)

In [9]:
str_conn='mysql+pymysql://root:1a2a3a4a@localhost:3306/blockbuster'

cursor=create_engine(str_conn)

# Inicio proceso de importación y limpieza

In [41]:
#lista con todos los ficheros que queremos importar # Tablas que no importamos: "language",  "rental",  "inventory"
nom_ficheros = ["old_HDD", "actor", "category", "film"]

In [42]:
#funcion para cargar ficheros asignandolo a la variable "data_[Nombre del fichero]"
# Ruta = Ruta del pc donde tienes los csv a cargar
# x = lista de ficheros a cargar

def carga_ficheros (x):
    
    Ruta = '../w3-database-project/Ficheros originales/data/'
    globals()[f"data_{x}"] = pd.read_csv(Ruta+ x +'.csv', encoding="latin1")

    return #globals()[f"data_{x}"]

In [43]:
# lista de las columnas que queremos limpiar ** ¡ ojo, se borran de todas las tablas ! **
delete_columns = ['last_update', 'original_language_id', 'release_year' ]

In [44]:
# bucle para limpiar tabla y compración de shapes

lista_tablas = []

for x in nom_ficheros:
    
    carga_ficheros (x) # llamamos a la funcion carga_ficheros
    print('\033[94m' f"data_{x}) \n El tamaño original de la tabla es : " + str(globals()[f"data_{x}"].shape) + '\033[0m') # mostramos tamañao tabla original
    num_filas_original= int((globals()[f"data_{x}"].shape)[0])
    num_columnas_original = int((globals()[f"data_{x}"].shape)[1])
    
    #empezamos limpieza (quitar duplicado y eliminar columnas definidas anteriormente)
    globals()[f"data_{x}"].drop_duplicates()
    
    for d in delete_columns:
        if d in globals()[f"data_{x}"].columns:
            globals()[f"data_{x}"].drop(d, axis=1, inplace = True)
    num_filas_limpias= int((globals()[f"data_{x}"].shape)[0])
    num_columnas_limpias = int((globals()[f"data_{x}"].shape)[1])
            
    print('\033[92m' f" El tamaño de la tabla despues de limpiar es : " + str(globals()[f"data_{x}"].shape)+ '\033[0m') #mostramos tamaño final de las tablas
    
    rest_filas = (num_filas_original - num_filas_limpias)
    rest_columnas = (num_columnas_original - num_columnas_limpias)
        
    if rest_filas == 0 and rest_columnas == 0 :
        print('\033[1m'f'------> No se han eliminado ninguna fila/columna ')
    
    elif rest_filas == 1 and rest_columnas == 0 :
        print('\033[95m' f'------> Se han eliminado ''\033[1m' + str(rest_filas) + ' fila, y ' + str(rest_columnas) + ' columnas''\033[0m')
    
    elif rest_filas == 0 and rest_columnas == 1 :
        print('\033[95m' f'------> Se han eliminado ''\033[1m' + str(rest_filas) + ' filas, y ' + str(rest_columnas) + ' columna''\033[0m')
        
    else:
        print('\033[95m' f'------> Se han eliminado ''\033[1m' + str(rest_filas) + ' filas, y ' + str(rest_columnas) + ' columnas''\033[0m')


    lista_tablas.append(f"data_{x}")

data_old_HDD)
 El tamaño original de la tabla es : (1000, 5)
 El tamaño de la tabla despues de limpiar es : (1000, 4)
------> Se han eliminado 0 filas, y 1 columna
data_actor)
 El tamaño original de la tabla es : (200, 4)
 El tamaño de la tabla despues de limpiar es : (200, 3)
------> Se han eliminado 0 filas, y 1 columna
data_category)
 El tamaño original de la tabla es : (16, 3)
 El tamaño de la tabla despues de limpiar es : (16, 2)
------> Se han eliminado 0 filas, y 1 columna
data_film)
 El tamaño original de la tabla es : (1000, 13)
 El tamaño de la tabla despues de limpiar es : (1000, 10)
------> Se han eliminado 0 filas, y 3 columnas

In [45]:
data_actor['Nombre_completo']=data_actor['first_name']+" "+data_actor['last_name']
data_old_HDD['Nombre_completo']=data_old_HDD['first_name']+" "+data_old_HDD['last_name']

## Carga de ficheros - no funciona

In [22]:
# if_exists='replace'

'''for x in lista_tablas2:
    globals()[f"{x}"].to_sql(name=x, con=cursor, if_exists='replace', index=False)'''

OperationalError: (pymysql.err.OperationalError) (3730, "Cannot drop table 'data_actor' referenced by a foreign key constraint 'fk_data_old_hdd_data_actor1' on table 'data_old_hdd'.")
[SQL:
DROP TABLE data_actor]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# Crear tablas

In [35]:
## crear tabla, si existe, eliminar primero

cursor.execute('drop table if exists actor;')

query='''

            create table actor(
            
                actor_id int,
                first_name varchar(50),
                last_name varchar(50),
                Nombre_completo varchar(50) primary key not null
            );

'''


cursor.execute(query)

In [36]:
## crear tabla, si existe, eliminar primero

cursor.execute('drop table if exists category;')

query='''

            create table category(
            
                category_id int primary key not null,
                name varchar(50)
            );

'''


cursor.execute(query)

In [48]:
## crear tabla, si existe, eliminar primero

cursor.execute('drop table if exists film;')

query='''

            create table film(
            
                film_id int primary key not null,
                title varchar(30),
                description varchar(500),
                language_id varchar(5),
                rental_duration varchar(5),
                rental_rate float,
                length varchar(5),
                replacement_cost float,
                rating varchar(5),
                special_features varchar(100)
            );

'''


cursor.execute(query)

In [50]:
## crear tabla, si existe, eliminar primero

cursor.execute('drop table if exists old_HDD;')

query='''

            create table old_HDD(
            
                first_name varchar(30),
                last_name varchar(30),
                title varchar(500),
                category_id varchar(5),
                Nombre_completo varchar(500)

            );

'''


cursor.execute(query)

## Carga de ficheros - SQL

In [53]:
#borramos el index de un actor duplicado
data_actor.drop(109, axis=0, inplace=True)

In [55]:
# insertamos datos en la tabla data_actor fila a fila

nombre_tabla='actor'

columnas=','.join(data_actor.columns)


for i in range(len(data_actor)):   # bucle por filas
    
    valores=tuple(data_actor.iloc[i].values)
    
    insert_query=f'insert into {nombre_tabla} ({columnas}) values {valores};'
    
    cursor.execute(insert_query)
    
    
db.commit()

In [56]:
# insertamos datos en la tabla data_category fila a fila

nombre_tabla='category'

columnas=','.join(data_category.columns)


for i in range(len(data_category)):   # bucle por filas
    
    valores=tuple(data_category.iloc[i].values)
    
    insert_query=f'insert into {nombre_tabla} ({columnas}) values {valores};'
    
    cursor.execute(insert_query)
    
    
db.commit()

In [57]:
# insertamos datos en la tabla data_film fila a fila

nombre_tabla='film'

columnas=','.join(data_film.columns)


for i in range(len(data_film)):   # bucle por filas
    
    valores=tuple(data_film.iloc[i].values)
    
    insert_query=f'insert into {nombre_tabla} ({columnas}) values {valores};'
    
    cursor.execute(insert_query)
    
    
db.commit()

In [58]:
# insertamos datos en la tabla data_film fila a fila

nombre_tabla='old_HDD'

columnas=','.join(data_old_HDD.columns)


for i in range(len(data_old_HDD)):   # bucle por filas
    
    valores=tuple(data_old_HDD.iloc[i].values)
    
    insert_query=f'insert into {nombre_tabla} ({columnas}) values {valores};'
    
    cursor.execute(insert_query)
    
    
db.commit()

# Prueba para insertar una nueva pelicula

In [78]:
#lista con todos los ficheros que queremos importar # Tablas que no importamos: "language",  "rental",  "inventory"
nom_ficheros = ["old_HDD2", "film2"]

In [79]:
#funcion para cargar ficheros asignandolo a la variable "data_[Nombre del fichero]"
# Ruta = Ruta del pc donde tienes los csv a cargar
# x = lista de ficheros a cargar

def carga_ficheros (x):
    
    Ruta = '../w3-database-project/Ficheros basura/'
    globals()[f"data_{x}"] = pd.read_csv(Ruta+ x +'.csv', encoding="latin1")

    return #globals()[f"data_{x}"]

In [80]:
# lista de las columnas que queremos limpiar ** ¡ ojo, se borran de todas las tablas ! **
delete_columns = ['last_update', 'original_language_id', 'release_year' ]

In [81]:
# bucle para limpiar tabla y compración de shapes

lista_tablas = []

for x in nom_ficheros:
    
    carga_ficheros (x) # llamamos a la funcion carga_ficheros
    print('\033[94m' f"data_{x}) \n El tamaño original de la tabla es : " + str(globals()[f"data_{x}"].shape) + '\033[0m') # mostramos tamañao tabla original
    num_filas_original= int((globals()[f"data_{x}"].shape)[0])
    num_columnas_original = int((globals()[f"data_{x}"].shape)[1])
    
    #empezamos limpieza (quitar duplicado y eliminar columnas definidas anteriormente)
    globals()[f"data_{x}"].drop_duplicates()
    
    for d in delete_columns:
        if d in globals()[f"data_{x}"].columns:
            globals()[f"data_{x}"].drop(d, axis=1, inplace = True)
    num_filas_limpias= int((globals()[f"data_{x}"].shape)[0])
    num_columnas_limpias = int((globals()[f"data_{x}"].shape)[1])
            
    print('\033[92m' f" El tamaño de la tabla despues de limpiar es : " + str(globals()[f"data_{x}"].shape)+ '\033[0m') #mostramos tamaño final de las tablas
    
    rest_filas = (num_filas_original - num_filas_limpias)
    rest_columnas = (num_columnas_original - num_columnas_limpias)
        
    if rest_filas == 0 and rest_columnas == 0 :
        print('\033[1m'f'------> No se han eliminado ninguna fila/columna ')
    
    elif rest_filas == 1 and rest_columnas == 0 :
        print('\033[95m' f'------> Se han eliminado ''\033[1m' + str(rest_filas) + ' fila, y ' + str(rest_columnas) + ' columnas''\033[0m')
    
    elif rest_filas == 0 and rest_columnas == 1 :
        print('\033[95m' f'------> Se han eliminado ''\033[1m' + str(rest_filas) + ' filas, y ' + str(rest_columnas) + ' columna''\033[0m')
        
    else:
        print('\033[95m' f'------> Se han eliminado ''\033[1m' + str(rest_filas) + ' filas, y ' + str(rest_columnas) + ' columnas''\033[0m')


    lista_tablas.append(f"data_{x}")

data_old_HDD2)
 El tamaño original de la tabla es : (1, 5)
 El tamaño de la tabla despues de limpiar es : (1, 4)
------> Se han eliminado 0 filas, y 1 columna
data_film2)
 El tamaño original de la tabla es : (1, 13)
 El tamaño de la tabla despues de limpiar es : (1, 10)
------> Se han eliminado 0 filas, y 3 columnas

In [82]:
data_film2.head()

,film_id,title,description,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,9999,PRUEBA PELI PGR,ZZZZZZZZZZZZZZZZZZZ,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"

In [83]:
data_film.columns

Index(['film_id', 'title', 'description', 'language_id', 'rental_duration',
       'rental_rate', 'length', 'replacement_cost', 'rating',
       'special_features'],
      dtype='object')

In [84]:
# insertamos datos en la tabla data_film fila a fila

nombre_tabla='film'

columnas=','.join(data_film2.columns)


for i in range(len(data_film2)):   # bucle por filas
    
    valores=tuple(data_film2.iloc[i].values)
    
    insert_query=f'insert into {nombre_tabla} ({columnas}) values {valores};'
    
    cursor.execute(insert_query)
    
    
db.commit()

In [85]:
data_old_HDD2['Nombre_completo']=data_old_HDD2['first_name']+" "+data_old_HDD2['last_name']

In [86]:
# insertamos datos en la tabla data_film fila a fila

nombre_tabla='old_HDD'

columnas=','.join(data_old_HDD2.columns)


for i in range(len(data_old_HDD2)):   # bucle por filas
    
    valores=tuple(data_old_HDD2.iloc[i].values)
    
    insert_query=f'insert into {nombre_tabla} ({columnas}) values {valores};'
    
    cursor.execute(insert_query)
    
    
db.commit()